@import 'common';
@import 'tool';
body{
  position: relative;
  position: relative;
  background:#fff;
  font-size: 0.8rem;
  .banner{
    @include imgblock;
    width: 100px;
  }
  .manage{
    @include tc;
    .add-button{
      @include btn;
      @include btn-green;
    }
    .input-area{
      margin-top:$jiange;
      display: flex;
      align-items: center;
      justify-content: center;
      input{
        width: 42%;
        margin-right: 10px;
      }
    }
    .sub-button{
      @include btn;
    }
    .form{
      width: 80%;
      margin: 0 auto;
      margin-top:$jiange ;
      th{
        padding-bottom:$jiange ;
      }
      tr{
        td{
          span{
            padding-right: $jiange ;
          }
        }
      }
    }
    .warp{
      .bg{
        position: absolute;
        background: #000;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0.8;
      }
      .content{
        position: absolute;
        width: 100%;
        text-align: center;
        top: 23%;
      }
      input{
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
        width: 200px;
      }
      button{
        @include btn;
        background: green;
        color: #fff;
        padding: 6px 40px;
      }
    }
  }
  .Weather{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    .input-area{
      margin-top:$jiange ;
      .input_box{
        display: flex;
        align-items: center;
        justify-content: center;
        input{
          width: 52%;
        }
      }

    }
    .tip{
      text-align: left;
      font-size: .7rem;
      color: #999;
      margin-left: 5px;
      margin-top: 10px;
    }
    .sub-button{
      @include btn;
    }
    .Weather_box{
      padding: 10px 0;
      .cityWeather{
        background: #9dbefb;
        color: #fff;
        padding: 10px;
        line-height: 24px;
        @include clear;
        .date{
          @include fl;
          line-height: 60px;
          font-weight: bold;
        }
        .cold{
          @include fr;
        }
      }
    }
  }
  .footer{
    @include footer;
    li{
      float: left;
      width: 50%;
      @include tc;
      a{
        color: #000;
        width: 100%;
        display: block;
        height: 100%;
        padding: $jiange  0;
      }
    }
  }
  .isManage{
    li:nth-child(1){
      background: #ccc;
      a{
        color: green;

      }
    }
  }
  //.isWeather{
  //  li:nth-child(2){
  //    background: #ccc;
  //    a{
  //      color: green;
  //
  //    }
  //  }
  //}
  .isComponents{
    li:nth-child(2){
      background: #ccc;
      a{
        color: green;
      }
    }
  }

}

